<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web_shopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShoppingServlet</display-name>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.fs.tic.web_shopping.business.controller.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/ShoppingServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/datasource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>GetService</display-name>
    <servlet-name>GetService</servlet-name>
    <servlet-class>com.fs.tic.web_shopping.business.model.dao.GetService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetService</servlet-name>
    <url-pattern>/GetService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderedItemBean</display-name>
    <servlet-name>OrderedItemBean</servlet-name>
    <servlet-class>com.fs.tic.web_shopping.business.model.bean.OrderedItemBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderedItemBean</servlet-name>
    <url-pattern>/OrderedItemBean</url-pattern>
  </servlet-mapping>
</web-app>